<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="titulo">
      <h1 class="slogan">PCA Music</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="welcome-content">
  <div class="welcome-container">
    <ion-title size="large" class="welcome-title">¡Explora géneros que te inspiran!</ion-title>
    
    <p class="welcome-text">
      Explorá una experiencia musical única donde los géneros, artistas y sonidos de todo el mundo se encuentran en un solo lugar. Descubrí nuevas tendencias, reviví clásicos inolvidables y sumergite en la esencia de la música que te mueve.
      <strong>PCA Music</strong> es tu espacio para sentir, explorar y vivir la música a tu manera.
    </p>

    <swiper-container
      class="genre-swiper"
      loop="true"
      slides-per-view="1"
    >
      <swiper-slide *ngFor="let genre of genres">
        <div class="slide-content">
          <img [src]="genre.image" [alt]="genre.tittle" />
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <ion-button class="home" (click)="continuar()">HOME</ion-button>
</ion-content>
