<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarColor()">
        <ion-icon name="moon" slot="icon-only" class="theme-toggle-icon"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <swiper-container
  loop="true"
  slides-per-view="1"  
  [ngStyle]="{'background-color': colorActual, 'color': textoActual}"    
>
  <swiper-slide *ngFor="let genre of genres" [ngStyle]="{'background-color': colorActual, 'color': textoActual}">
    <div class="slide-content" [ngStyle]="{'background-color': colorActual, 'color': textoActual}">
      <h2>{{ genre.tittle }}</h2>
      <img [src]="genre.image" [alt] ="genre.tittle">
      <p class="slide-content" [ngStyle]="{'background-color': colorActual, 'color': textoActual}">{{ genre.description }} </p>
    </div>
  </swiper-slide>
</swiper-container>

<!-- Swiper de albums -->

<swiper-container
  loop="true"
  slides-per-view="3"
  [ngStyle]="{'background-color': colorActual, 'color': textoActual}">
  <swiper-slide *ngFor="let album of albums" 
    [ngStyle]="{'background-color': colorActual, 'color': textoActual}" (click)="showSongs(album.id)">
    <div class="slide-content"
      [ngStyle]="{'background-color': colorActual, 'color': textoActual}">
      <img [src]="album.image" [alt]="album.name">
      <h4>{{ album.name }}</h4>
    </div>
  </swiper-slide>
</swiper-container>

<!-- Swiper de artistas -->
<swiper-container
  loop="true"
  slides-per-view="3"
  [ngStyle]="{ 'background-color': colorActual, 'color': textoActual }"
>
  <swiper-slide *ngFor="let artist of artists.artists"
    [ngStyle]="{ 'background-color': colorActual, 'color': textoActual }"
    (click)="showArtistModal(artist)">
    <div class="slide-content"
      [ngStyle]="{ 'background-color': colorActual, 'color': textoActual }">
      <img [src]="getArtistImage(artist.nombre)" [alt]="artist.nombre">
      <h4>{{ artist.nombre }}</h4>
    </div>
  </swiper-slide>
</swiper-container>



<ion-footer >
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{ formatTime(currentSong?.currentTime) || "0:00" }}</ion-col>
      <ion-col class="ion-text-end">{{ formatTime(getRemainingTime()) || "0:00" }}</ion-col>
    </ion-row>
    <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-text>
            {{ song.name || "N/A" }}
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
          <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  
  <div class="intro-wrapper">
  <ion-button expand="block" class="intro" (click)="goIntro()">Acceder al intro</ion-button>
  </div>

</ion-footer>


</ion-content>