<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" class="registro">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

      <!-- Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="error">
        {{ validation_messages.nombre[0].message }}
      </div>

      <!-- Apellido -->
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched" class="error">
        {{ validation_messages.apellido[0].message }}
      </div>

      <!-- Nombre de usuario -->
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="userName"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched" class="error">
        {{ validation_messages.userName[0].message }}
      </div>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngFor="let val of validation_messages.email">
        <div *ngIf="registerForm.get('email')?.hasError(val.type) && registerForm.get('email')?.touched" class="error">
          {{ val.message }}
        </div>
      </div>

      <!-- Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let val of validation_messages.password">
        <div *ngIf="registerForm.get('password')?.hasError(val.type) && registerForm.get('password')?.touched" class="error">
          {{ val.message }}
        </div>
      </div>

      <!-- Botón de registro -->
      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" color="primary">
        REGISTRARSE
      </ion-button>

      <!-- Botón para ir al login -->
      <div class="login-redirect">
        <p>¿YA TIENES CUENTA?</p>
        <ion-button expand="block" fill="solid" color="success" (click)="goToLogin()">
          INICIA SESIÓN
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
